<% provide(:title, 'About') %>
<div class="container">
  <div class="col-md-8">
    <h1 class="page-header">About Sledsheet</h1>
    <p class="lead">Sledsheet was created in 2010 by skeleton athlete <a href="http://www.sledsheet.com/athletes/1">Kyle Tress</a>.</p>

    <p>I was looking for a way to organize and analyze my timesheets without resorting to spreadsheets, which was the common method at the time. Spreadsheets have many uses, but as soon as you have more than a few, they become impossible to sort and search through. Although I had worked as a web designer for many years, I didn't have the programming skill to build the site myself, so I began to teach myself how to code.</p>

    <p>I rebuilt sledsheet at least 3 times as I learned new things and my skills improved. But I always used the app extensively to graph my runs and track my progress. I built a personal database of hundreds of training runs, and I began to see the value in releasing it to the skeleton community at-large. Throughout the summer of 2015, I worked extensively to add new features to the app to make it more attractive to skeleton athletes and their fans and supporting staff as well.</p>

    <p>I have big plans for sledsheet. As Marc Andreessen said, <em>software is eating the world</em>. Data analysis and visualization is a trend in sport, and I want to grow sledsheet into a leader in the field, starting with our niche sport.</p>
  </div>
</div>
