<div class="jumbotron">
  <div class="container">
    <h1>It's about time</h1>
    <p>Sledsheet is a race database, timesheet analysis tool, and reference site for the sport of skeleton.</p>
    <p>
      <%= @runs %> runs, <%= @timesheets %> timesheets, featuring <%= @athletes %> athletes. </p>
    </p>
    <p><%= link_to "Sign up for free", signup_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>

<div class="row">
  <div class="container">
      <div class="col-md-4">
    <h3>For Athletes</h3>
    <p>
      Sledsheet has the best timesheet analysis tools in the world. Enter your runs, graph them against your competitors, and find out where you are gaining or losing time. <a href="#">Learn more about sledsheet for athletes</a>
    </p>
  </div>
  <div class="col-md-4">
    <h3>For Fans</h3>
    <p>
      On Sledsheet, you can follow your favorite athletes and recieve email notifications when they race. You can view all their races in our database going back to 2002. <a href="#">Learn more about sledsheet for fans</a>
    </p>
  </div>
  <div class="col-md-4">
    <h3>For Coaches</h3>
    <p>
      Organize your team and share information and timesheets. We store all timesheets on our servers so you don't have to email them to your teammates individually. <a href="#">Learn more about sledsheet for coaches</a>
    </p>
  </div>
</div>
</div>
