<div class="center hero-unit">
  <h1>Sledsheet</h1>
  <p>It's about time. Sledsheet is a database of skeleton results dating back to 2004.</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>
