<div class="container">
  <h2>Edit Membership</h2>
  <p>This page will soon contain privacy settings for team members and settings for managing notifications.</p>
  <p><%= link_to 'Leave Team', team_membership_path(@team, @membership), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-small btn-danger' %>
</p>
</div>
