<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're invited to Sledsheet</h1>
    <p>Sledsheet is a website for skeleton athletes and their fans. It's opening to the public in October, but I want to give you a chance to explore the site before the launch. To accept your invitation, click the link below.</p>

    <p><%= link_to "Accept your invitation", signup_url(@invitation.token) %></p>

    <p>During the beta, expect a lot of changes. Just let me know if you discover any bugs along the way. Feature ideas are also welcome.</p>

    <p>In the meantime, enjoy the site!</p>
    Kyle Tress<br>
    Founder &amp; Developer
  </body>
</html>
