<%= content_tag_for(:li, entry) do %>
  <span class="flag flag-<%= entry.athlete.country_code %>"></span>
  <%= link_to entry.athlete.name, entry.athlete %>
  <% if current_user.admin? %>
    <small><%= link_to "delete", entry_path(entry), method: :delete, class: "text-danger", data: {confirm: "You sure?"} %></small>
  <% end %>
<% end %>