<% provide(:title, @circuit.name) %>
<h1><%= @circuit.name %></h1>
<h3>Recent Events</h3>
<ul>
  <% @circuit.timesheets.each do |timesheet| %>
    <li><%= link_to timesheet.name, timesheet %></li>
  <% end %>
</ul>