<% provide(:title, "Admin Articles") %>
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Athlete</th>
        <th>Admin</th>
      </tr>
      <% @articles.each do |article| %>
      <tr>
        <% title = strip_tags article.title %>
        <td><%= link_to title, article.link %></td>
        <td><%= link_to article.athlete.name, article.athlete %></td>
        <td><%= link_to "delete", admin_article_path(article), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
