<div class="container">
  <h2>Import from IBSF.org</h2>

  <%= form_tag admin_timesheet_import_path do %>
    <div>
      <%= text_field_tag :url %>
    </div>
    <%= submit_tag 'Convert' %>
  <% end %>
</div>
