<% provide(:title, "Athletes") %>

<div class="container">
  <% if current_user && current_user.admin %>
    <%= link_to 'New Athlete', new_athlete_path, class: 'btn btn-primary' %>
  <% end %>

  <h2>All Athletes</h2>
  <section id="athletes" class="athlete-index">
    <%= render @athletes %>
  </section>
  <%= paginate @athletes %>
</div>
