<% provide(:title, @athlete.name) %>

<%= render 'profile' %>

<h3>Current Season Points Breakdown</h3>
<table class="table table-condensed">
  <tr>
    <th>Date</th>
    <th>Race</th>
    <th>Place</th>
  </tr>
  <% @points.each do |point| %>
  <tr>
    <td><%= link_to point.name, point.timesheet %></td>
    <td><%= point.value %></td>
    <td><%= point.rank.ordinalize %></td>
  </tr>
  <% end %>
</table>
