<% provide(:title, "Edit #{@timesheet.name}") %>
<div class="container">
  <h2>Edit Timesheet</h2>

  <%= render 'form' %>

  <%= link_to "delete", @timesheet.becomes(Timesheet), method: :delete,
                                    data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
</div>
