//$color-background: rgba(255,255,255,.85);
$color-background: #eee;
$blue: #14528F; // branding, header
$orange: #FF851B; // links
$mariner: #2980B9;
$iron: #E1E3E5;
$green: #8aba56;

$gold: #fdb81e;
$gold-light: #f9c642;
$gold-lighter: #fad980;
$gold-lightest: #fff1d2;
