//$color-background: rgba(255,255,255,.85);
$color-background: #f1f1f1;
$blue: #0071bc; // #14528F; // branding, header
$dark-blue: #112e51;
$orange: #FF851B; // links
$mariner: #2980B9;
$iron: #E1E3E5;
$green: #8aba56;

$header-links: #5b616b;
