// Place all the styles related to the Athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.athlete-index {
	width:100%;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content: space-between;
}

.profile-card {
	background-image:none;
	background-color:black;
	background-size:cover;
	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
	text-align:center;
	margin:1.6rem 0 0 0;
	color:white;
	p {
		margin-bottom:0;
		padding-bottom:1rem;
	}
}

.profile {
	h2 {
		font-weight:bold;
		font-size:2.4rem;
		margin:0;
		margin-bottom:.3rem;
		color:white;
	}
}

.leader {
	background:#FFCC00;
	color:white;
	font-size:1.1rem;
	text-transform:uppercase;
	font-weight:bold;
}

.stat-nav {
	padding: 2rem 0;
	border-bottom: 1px solid #f1f1f1;
}

.stat-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 2rem;
	}
}

.stat-item{
	color:#999;
	font-size:1.4rem;
	span {
		font-weight:bold;
		color:black;
	}
}

.athlete-card{
	background:white;
	width:20rem;
	margin-bottom:1rem;
	margin-right:1rem;
	img {
		width: 100%;
	}
	figcaption {
		padding:.5rem;
		color: lighten(#000, 50%);
	}
}

.medal {
	width: 10px;
	height: 10px;
	background-color: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bronze{
  background-color: rgb(205, 127, 50);
}

.athlete-avatar {
	border-radius:50%;
	background: white;
	background: rgba(255,255,255,.65);
	padding:.4rem;
	margin:2rem 0;
}

.athlete-avatar-mini {
	border-radius: 50%;
}

.profile-cards{
	@media (min-width: 600px){
		display:-webkit-flex;
		display:flex;
		-webkit-justify-content:space-between;
		.card {
			-webkit-flex:1;
			flex:1;
		}
	}
}

.card {
	background:white;
	border-radius:.3rem;
	padding:1rem;
	margin:0 1rem;
	width:100%;
	@media (min-width: 600px) {
		width:32%;
	}
	h5 {
		font-weight:bold;
		border-bottom:1px solid #eee;
	}
}

.recent {
	font-size:1.4rem;
	table {
		margin-bottom:0;
	}
}

.athlete-masthead {
	background-color: #f1f1f1;
	padding: 3rem 0;
	h2 {
		font-weight: bold;
		margin: 0;
		letter-spacing: -1px;
	}
	p {
		color: #bbb;
		margin-bottom: 0;
	}
	.athlete-avatar {
		margin: 0;
		margin-right: 1rem;
	}
}

.chart {
	flex: 1;
}

img.rings {
}
