body {
  padding-top: 50px;
  font-family:"source-sans-pro", helvetica, sans-serif;
  background:$color-background;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size:16px;
}
a {
  color:$blue;
}

.athlete-timesheet-name {
  color: black;
}

.jumbo {
  background: $iron;
}

a.navbar-brand{
  text-transform: lowercase;
  letter-spacing:-1px;
  color: $blue !important;//#fff !important;
  font-weight:700;
  font-size:2.4rem;
  &:hover {
    color:red;
  }
}

.flex {
  display: flex;
  justify-content: space-between;;
}

/* Users index */
.users {
  list-style:none;
  margin: 0;
  padding:0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:last-child {
      border-bottom:2px solid #eee;
    }
  }
}

.btn-outline {
  border: 3px solid white;
  background: transparent;
  color:white;
  padding: 1rem 3.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    background:white;
    color: $blue;
  }
}

.navbar-custom {
  background-color: rgba(255,255,255,.97);
  color:$blue;//#ffffff;
  border-radius:0;
  border: none;
}

.navbar-custom .navbar-nav > li > a {
  color: $header-links;
  font-size: 1.4rem;
  font-weight:600;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color:black;
}
.nav.nav-tabs > li.dropdown.active.open > a,
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a,
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: #fff;
  background-color: #2c3e50;
  border-color: #fff;
}

.navbar-custom .navbar-nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color:black;
  //background-color: rgba(0,0,0,.1);
}

// the background of the dropdown menus
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: rgba(0,0,0,.1);
  border-color: #fff;
}

.navbar-custom .navbar-brand {
    color:$blue;//#fff;
}

.site-footer{
  padding:3em 0;
  text-align:center;
  font-size:14px;
  color:lighten(#000, 50%);
  a {
    color:lighten(#000, 40%);
    text-decoration: underline;
  }
}

.footer {
  @include inline-navigation(1em);
}

.table{
  background:white;
  th {
    background:darken(#ecf0f1, 5%);
    background: $iron;
    color:#333;
  }
}

.account-image{
  padding-top:7px;
}

.img-rounded{
  border-radius:50%;
}


/* forms */

#error_explanation {
  color:#f00;
  ul {
    list-style:none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn-sledsheet {
  background-color: $green;
  color:lighten($green, 30%);
  &:hover {
    background-color: darken($green, 10%);
    color:white;
  }
}

.page-header {
  background: $blue;
  color:white;
  padding-top:3rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  h2 {
    font-weight: 400 !important;
    margin: 0;
  }
  time {
    display: block;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}

.timesheet-bar {
  background: $dark-blue; //#dce4ef;
  padding: .5rem 0;
  margin-bottom: 2rem;
}

.timesheet-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size:1.4rem;
  li {
    text-align: center;
    color: $blue;
  }
  li > a {
    color: white;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
      > span {
      display: block;
      padding-bottom: 5px;
    }
  }
}

.stats {
  h3 {
    font-weight: 700;
  }
}

/* Flag Sprites */
.flag {
    background-image: asset-data-url("flags.png");
    background-repeat: no-repeat;
    display: inline-block;
    width:24px;
    height: 24px;
}

.flag-AU {
    background-position: -1px -1px;
}

.flag-AT {
    background-position: -27px -1px;
}

.flag-BE {
    background-position: -53px -1px;
}

.flag-Bermuda {
    background-position: -79px -1px;
}

.flag-BR {
    background-position: -105px -1px;
}

.flag-CA {
    background-position: -1px -27px;
}

.flag-CZ {
    background-position: -27px -27px;
}

.flag-FR {
    background-position: -53px -27px;
}

.flag-DE {
    background-position: -79px -27px;
}

.flag-GR {
    background-position: -105px -27px;
}

.flag-IE {
    background-position: -1px -53px;
}

.flag-IT {
    background-position: -27px -53px;
}

.flag-JM {
    background-position: -53px -53px;
}

.flag-JP {
    background-position: -79px -53px;
}

.flag-LV {
    background-position: -105px -53px;
}

.flag-MX {
    background-position: -1px -79px;
}

.flag-Monaco {
    background-position: -27px -79px;
}

.flag-NL {
    background-position: -53px -79px;
}

.flag-NZ {
    background-position: -79px -79px;
}

.flag-Norway {
    background-position: -105px -79px;
}

.flag-Olympics {
    background-position: -1px -105px;
}

.flag-PL {
    background-position: -27px -105px;
}

.flag-RO {
    background-position: -53px -105px;
}

.flag-RU {
    background-position: -79px -105px;
}

.flag-SK {
    background-position: -105px -105px;
}

.flag-SI {
    background-position: -131px -1px;
}

.flag-South-Africa {
    background-position: -131px -27px;
}

.flag-KR {
    background-position: -131px -53px;
}

.flag-ES {
    background-position: -131px -79px;
}

.flag-SE {
    background-position: -131px -105px;
}

.flag-CH {
    background-position: -1px -131px;
}

.flag-GB {
    background-position: -27px -131px;
}

.flag-US {
    background-position: -53px -131px;
}

.flag-Unknown {
    background-position: -79px -131px;
}

.debug_dump {
  clear:both;
  float:left;
  width:100%;
  margin-top: 45px;
}
