@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins and variables */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { padding-top: 70px; }
a.navbar-brand{
  text-transform: lowercase;
  letter-spacing:-1px;
}

/* Users index */
.users {
  list-style:none;
  margin: 0;
  padding:0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:last-child {
      border-bottom:1px solid #eee;
    }
  }
}

/* forms */

#error_explanation {
  color:#f00;
  ul {
    list-style:none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Flag Sprites */
.flag {
    background-image: asset-data-url("flags.png");
    background-repeat: no-repeat;
    display: inline-block;
    width:24px;
    height: 24px;
}

.flag-AU {
    background-position: -1px -1px;
}

.flag-AT {
    background-position: -27px -1px;
}

.flag-BE {
    background-position: -53px -1px;
}

.flag-Bermuda {
    background-position: -79px -1px;
}

.flag-BR {
    background-position: -105px -1px;
}

.flag-CA {
    background-position: -1px -27px;
}

.flag-CZ {
    background-position: -27px -27px;
}

.flag-FR {
    background-position: -53px -27px;
}

.flag-DE {
    background-position: -79px -27px;
}

.flag-GR {
    background-position: -105px -27px;
}

.flag-IE {
    background-position: -1px -53px;
}

.flag-IT {
    background-position: -27px -53px;
}

.flag-JM {
    background-position: -53px -53px;
}

.flag-JP {
    background-position: -79px -53px;
}

.flag-LV {
    background-position: -105px -53px;
}

.flag-MX {
    background-position: -1px -79px;
}

.flag-Monaco {
    background-position: -27px -79px;
}

.flag-NL {
    background-position: -53px -79px;
}

.flag-NZ {
    background-position: -79px -79px;
}

.flag-Norway {
    background-position: -105px -79px;
}

.flag-Olympics {
    background-position: -1px -105px;
}

.flag-PL {
    background-position: -27px -105px;
}

.flag-RO {
    background-position: -53px -105px;
}

.flag-RU {
    background-position: -79px -105px;
}

.flag-SK {
    background-position: -105px -105px;
}

.flag-SI {
    background-position: -131px -1px;
}

.flag-South-Africa {
    background-position: -131px -27px;
}

.flag-KR {
    background-position: -131px -53px;
}

.flag-ES {
    background-position: -131px -79px;
}

.flag-SE {
    background-position: -131px -105px;
}

.flag-CH {
    background-position: -1px -131px;
}

.flag-GB {
    background-position: -27px -131px;
}

.flag-US {
    background-position: -53px -131px;
}

.flag-Unknown {
    background-position: -79px -131px;
}

/* miscellaneous */

.debug_dump {
  clear:both;
  float:left;
  width:100%;
  margin-top: 45px;
  @include box_sizing;
}