// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entries{
  list-style-position: inside;
  padding-left:0;
  li.entry {
    font-weight:bold;
    background:#fff;
    margin-bottom:3px;
    padding:3px 10px;
    border-radius:3px;
  }
}

.sortable-placeholder {
  height:20px;
  display:block;
}

.handle{
	font-size: 12px;
	color: #777;
	cursor: move;
}
