// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.rank {
  font-weight:bold;
}

.nation-rank {
  font-weight: normal;
  margin-left: 1rem;
}
