.timesheet-header {
  margin-bottom: 1rem;
  background-color: #fafafa;
  padding-top: 2rem;
}

.timesheet-title {
  padding: 1.6rem .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 1.3rem;
  @media (min-width: 770px) {
    flex-direction: row;
  }
  h2 {
    font-size: 1.4rem;
    font-weight:700;
    margin: 0;
    color: rgb(52,52,52);
    small {
      font-size: 1rem;
    }
  }
  .btn {
    color: rgb(52,52,52);
  }
}

.timesheet-tabs {
  border-bottom: none;
  > li > a {
    color: #999;
    font-size: 1.3rem;
    border: none;
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background: #fff;
    border: none;
    border-bottom: 1px solid white;
    border-top: 2px solid #e31c3d;
  }
}

table.timesheets {
  border: 1px solid #ddd;
  //border-top: none;
}

.table.timesheets > tbody + tbody {
  border-width: 1px;
}

td.total_time {
  text-align: right;
}

.flag-icon {
  font-size:1.3rem;
  margin-right: .3rem;
}

.timesheet-table-header td,
.timesheet-table-header th,
caption {
  background: #f8f8f8;
}

.timesheet-name a {
  font-weight:400;
}

.athlete-name {
  font-weight: 500;
}

.timesheet-circuit {
  font-style:italic;
  color:#999;
}

.athlete-name {
  margin-right: 1rem;
}

.admin-links {
  margin-left: 1rem;
}

.plus { color:#C1392B; }
.minus { color: #27ae60; }
.best { color: $gold;}

.position {
  font-size:1.2rem;
  color:#999;
}

.badge-danger {
  background-color: #cd2026;
}

.new-run-link {
  color: #bbb;
  font-size: 1.3rem;
  margin-right: .7rem;
  &:hover {
    color: darken(#bbb, 15%);
  }
}

.table > tbody > tr.run > td {
  border-top: none;
}

.table.timesheets > tbody > tr > th {
  background: white;
  time, .weather-data {
    color: #666;
    font-weight: 400;
    font-size: 1.2rem;
  }
}

.table.timesheets > tbody > tr > th.weather-data {
  color: #666;
  font-weight: 400;
  font-size: 1.2rem;
}

.nav-tabs > li > a {
  border-radius: 0;
}
