<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <footer class="footer">
          Copyright &copy; 2010 &ndash; <%= Time.now.year %> Kyle Tress. Built in Lake Placid, NY. USA.
          <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Terms', terms_path %></li>
            <li><%= link_to 'Privacy', privacy_path %></li>
            <li><a href="#">Gear</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Go Pro</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Rule Book</a></li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
</div>
