<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <footer class="footer">
          Copyright &copy; 2010 &ndash; <%= Time.now.year %> Senecode, LLC. Made in America.
          <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Terms', terms_path %></li>
            <li><%= link_to 'Privacy', privacy_path %></li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
</div>
