<footer class="footer">
  <small>Sledsheet by Kyle Tress</small>
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </nav>
</footer>